.bar-page-body {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background: linear-gradient(180deg, #3D2148 0%, #E2A0B0 100%);
  color: white;
  margin-top: -60px;
  padding-top: 120px;
}

.bar-show-height {
  height: calc(100% - 56px);
}

.grid-subvibes-style {
  padding: 15px;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.346);
  margin-top: 10px;
  min-height: 337px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.grid-subvibes-container {
  min-width: 360px;
  position: relative;
}

.fade {
  transition: opacity 0s linear; /* Change the duration to 0.1s for faster fade */
}

.bar-image {
  width: 400px;
  max-width: 100%;
  height: 250px;
  border: #3D2148;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.346);
  object-fit: cover;/* Maintain aspect ratio */
}

.bar-image-container {
  position: relative;
  top: 0;
  margin-bottom: 50px;
   /* Place the image at the top of its containing block */
}

.avatar-card {
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9rem;
  color: #3D2148;
  min-width: 11ch;
  max-width: 11ch;
  text-align: center;
}

.avatar-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 0%;
}

.selected-icon {
  border: 3px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.link-text {
  color: #3D2148 !important; /* Change link color */
  text-decoration: none !important;
  padding-top: 5px !important;;/* Remove underline */ /* Make the text bold */
}


.icon-img {
  font-size: 40px;
}

.icon-card {
  background-color: rgba(230, 230, 230, 0.5);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9rem;
  min-width: 11ch;
  max-width: 11ch;
  color: #3D2148;
  text-align: center;
  position: relative;
  max-height: 92px;
}


.height-minus-navbar {
  position: absolute;
  top: 50px
}

// .redirect-button-margin {
//   margin-bottom: 20px;
// }

.fix-btn-bottom {
    position: fixed;
    bottom: 10px; /* Adjust as needed for desired spacing from bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it appears above other content */
}


.bar-info-overlay {
  position: absolute;
  bottom: 1px;
  left: px;
  width: 100%;
  height: 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.general-info-font {
  text-align: left !important;
}


#minimap {
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(55, 42, 52, 0.346);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 50%;
  width: 50%;
  margin-top: 10px;
}
.tab-pane {
  display: flex;
  align-items: center;
  justify-content: center;
}
