<%# <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# Vibez
    <% end %>

    <%# TODO: redirect to my profile, change user profile picture %>
    <%# <a href="#" class="avatar">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%# </a>
  </div>
</nav> %> 
