<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "bars" , class: "navbar-brand" do %>
    <div class= "header">
     Vibez
    </div>
    <% end %>

    <%# TODO: redirect to my profile, change user profile picture %>
    <a href="user" class="avatar">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    </a>
  </div>
</nav>
