<div class="landing-container">
  <div class= text-center>
    <h1>VIBEZ</h1>

  </div>

  <div class="text-center">
    <p> Description of Vibez</p>
      <button><%= link_to "Log in", new_user_session_path, class: "nav-link" %></button>
        <br>
        <br>
      <button> <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></button>
  </div>
</div>
