<div class="profile-page-body">

  <h3 class="header-font">My vibez</h3>
  <div class="pb-4">
    <% if @user.subvibes.length > 0 %>
      <div class="grid-subvibes-style d-flex flex-wrap justify-content-flex-start">
        <% @user.subvibes.each do |subvibe| %>
          <div class="icon-card">
            <%= cl_image_tag subvibe.photo.key, class: "avatar-img"%>
            <%=subvibe.name%>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2 class="paragraph-font">Time to add a vibe!</h2>
    <% end %>
  </div>


  <h3 class="header-font">My favourite bars</h3>
  <div class="pb-4">
    <% if @user.bars.length > 0 %>
      <div class="grid-subvibes-style d-flex flex-wrap justify-content-flex-start">
        <% @user.bars.each do |bar| %>
          <div class="icon-card">
            <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
            <%= link_to bar.name, bar_path(bar.id), class: "link-text" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h2 class="paragraph-font">You don't have any favourites yet!</h2>
    <% end %>
  </div>



    <%= link_to "Edit my profile", edit_user_registration_path, class:"main-btn redirect-button-margin" %>

</div>
