.landing-container {
background: linear-gradient(180deg, #3D2148 0%, #E2A0B0 100%);
background-size: cover;
height: 100vh;
}


.icon-picture {
  height: 40px;
  width: 40px;
}


.sun-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 20%;
  left: 30%;
  align-items: center;
  justify-content: center;
}


.rooftop-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 10%;
  left: 60%;
  align-items: center;
  justify-content: center;
}

.lip-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 40%;
  left: 37%;
  align-items: center;
  justify-content: center;
}

.palm-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 85%;
  left: 35%;
  align-items: center;
  justify-content: center;
}

.beer-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 80%;
  right: 50%;
  align-items: center;
  justify-content: center;
}

.cup-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 30%;
  right: 80%;
  align-items: center;
  justify-content: center;
}

.music-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 70%;
  right: 10%;
  align-items: center;
  justify-content: center;
}

.dj-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 65%;
  left: 25%;
  align-items: center;
  justify-content: center;
}


.sitting-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 55%;
  right: 20%;
  align-items: center;
  justify-content: center;
}

.disco-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 40%;
  right: 35%;
  align-items: center;
  justify-content: center;
}

.tapas-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 75%;
  right: 33%;
  align-items: center;
  justify-content: center;
}

.darts-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 52%;
  left: 28%;
  align-items: center;
  justify-content: center;
}

.cowboy-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 30%;
  right: 25%;
  align-items: center;
  justify-content: center;
}

.karaoke-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 28%;
  right: 50%;
  align-items: center;
  justify-content: center;
}

.ambiente-div {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  height: 50px;
  width: 50px;
  top: 65%;
  left: 40%;
  align-items: center;
  justify-content: center;
}
