$logocolors: #ea9694, #dd8393, #f6ccd7 #ebcbf7, #fbefca, white, #fbefca, #ebcbf7,#f6ccd7, #ea9694 #dd8393;

@mixin animate-logo-color($logocolors) {
  $count: length($logocolors);
  @keyframes change-color {
    @for $i from 1 through $count {
      #{percentage(($i - 1) / $count)} {
        color: nth($logocolors, $i);
      }
    }
    100% {
      color: nth($logocolors, 1);
    }
  }
}


$iconcolors: #ffffff, #f0f0f0,#e0e0e0, #d0d0d0,#c0c0c0,#b0b0b0;

@mixin flicker-background($iconcolors) {
  @keyframes flicker {
    @for $i from 0 through 50 {
      #{percentage($i)} {
        background-color: nth($iconcolors, random(length($iconcolors)));
      }
    }
  }
}

.landing-container {
background: linear-gradient(180deg, #3D2148 0%, #E2A0B0 100%);
background-size: cover;
height: 100vh;
}


.icon-picture {
  height: 40px;
  width: 40px;
}


.sun-div {
  border-radius: 50%;
  // background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 6%;
  left: 56%;
  align-items: center;
  justify-content: center;
  border: 3px solid #E2A0B0;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
  @include flicker-background($iconcolors);
  animation: flicker 1s steps(2) infinite;
}


.rooftop-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 6%;
  left: 80%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.lip-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 6%;
  left: 4%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.palm-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 76%;
  left: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.beer-div {
  border-radius: 50%;
  // background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 88%;
  right: 55%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
  @include flicker-background($iconcolors);
  animation: flicker 1s steps(2) infinite;
}

.cup-div {
  border-radius: 50%;
  // background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 20%;
  right: 80%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
  @include flicker-background($iconcolors);
  animation: flicker 1s steps(2) infinite;
}

.music-div {
  border-radius: 50%;
  // background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 76%;
  right: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
  @include flicker-background($iconcolors);
  animation: flicker 1s steps(2) infinite;
}

.dj-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 88%;
  left: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}


.sitting-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 88%;
  right: 28%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.disco-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 20%;
  right: 54%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.tapas-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 88%;
  right: 2%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.darts-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 6%;
  left: 29%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.cowboy-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 20%;
  right: 28%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.karaoke-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 20%;
  right: 3%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}

.ambiente-div {
  border-radius: 50%;
  background-color: #ffffff73;
  position: absolute;
  display: flex;
  height: 65px;
  width: 65px;
  top: 76%;
  right: 40%;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFCDD9;
  box-shadow: 1px 1px 10px 2px #FFCDD9 ;
}


@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.description_landing {
  color: #ffffff;
  letter-spacing: 1.01px;
}

.title-landing {
  font-family: $logo-font;
  font-style: normal;
  font-size: 10rem;
  margin-bottom: 10px;
  height: 120px;
  @include animate-logo-color($logocolors);
  animation: change-color 10s ease infinite;
}
