.session-container {
  // margin-top: 50px;
  // border: 3px solid;
  // border-color: plum;
  // width: 400px;
  // height: 500px;
  background: linear-gradient(180deg, #3D2148 0%, #E2A0B0 100%);
  background-size: cover;
  height: 100vh;
}

.button-log-in {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #956580;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-log-in:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-log-in:hover:after {
  transform: translate(0, 0);
}

.button-log-in:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-log-in:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


.transparent-input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Optional: to have a border */
  color: #000; /* Text color */
}

.transparent-input::placeholder {
  color: #aaa; /* Placeholder text color */
}

.log-in{
  color: white;
}

.log-in-form {
  max-width:300px;
}

.btn {
  color: #956580;
  font-size: 1.4rem;
}

.log-out-btn {
  color: white;
  font-size: 1rem;
  
}
