.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container {
  height: 100vh;
  width: 100vw;
  margin-top: -50px
}

.map-size {
  height: 100%;
  width: 100%;
}
